- name: Set ansible_host to container IP
  ansible.builtin.set_fact:
    apt_proxy_host: >-
      {{
        (hostvars['apt-cacher']['proxmox_net0']['ip'] | regex_replace('/.*', ''))
        if ('proxmox_net0' in hostvars['apt-cacher'] and 'ip' in hostvars['apt-cacher']['proxmox_net0'])
        else (
          hostvars['apt-cacher']['proxmox_lxc_interfaces']
          | selectattr('name', 'equalto', 'eth0')
          | map(attribute='inet')
          | list
          | first
          | regex_replace('/.*', '')
        )
      }}

- name: Install detect-http-proxy
  ansible.builtin.template:
    src: detect-http-proxy.j2
    dest: /etc/apt/detect-http-proxy
    mode: "0755"

- name: Configure apt proxy
  ansible.builtin.template:
    src: 90proxy.j2
    dest: /etc/apt/apt.conf.d/90proxy
    mode: "0644"
