- name: Install gpg
  ansible.builtin.apt:
    name: gpg

- name: Set sysctl
  ansible.posix.sysctl:
    name: vm.max_map_count
    value: '262144'
    state: present
  ignore_errors: true

- name: Add Docker repository key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    keyring: /etc/apt/trusted.gpg.d/docker.gpg

- name: Add Docker repository
  ansible.builtin.apt_repository:
    # Use HTTP to enable apt-cacher
    repo: deb http://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    filename: docker

- name: Install Docker
  ansible.builtin.apt:
    name: "{{ item }}"
  loop:
    - docker-ce
    #- docker-ce-cli

- name: Create Docker network
  community.docker.docker_network:
    name: "{{ docker_network }}"
