#SPDX-License-Identifier: MIT-0
---
# tasks file for goss

- name: "Install curl"
  ansible.builtin.package:
    name: curl
    state: present

- name: "Check binary"
  ansible.builtin.stat:
    path: /usr/local/bin/goss
  register: goss

- name: "Get installer"
  ansible.builtin.get_url:
    url: https://goss.rocks/install
    dest: /tmp/goss_install.sh
    mode: '0755'
  when: not goss.stat.exists

- name: "Run installer"
  ansible.builtin.shell: /tmp/goss_install.sh
  args:
    creates: /usr/local/bin/goss

- name: "Template goss.yaml"
  ansible.builtin.copy:
    src: "{{ ansible_hostname }}.yaml"
    dest: /root/goss.yaml
    mode: "0644"

